@model IEnumerable<Bikeshop_Project.Models.RevisionHistory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // if a user is logged in, update logging information for monitoring team metrics
    if (Logger.returnUserLogInStatus())
    {
        Logger.numberofPageViews++;         // Add number of page views for general user session
        Logger.LogPageClick("Revision Histories");    // send log to monitoring team to show a new page click has occured.    
    }
}

<h1>Revision Histories</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VERSION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CHANGEDATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.REVISIONCOMMENTS)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VERSION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CHANGEDATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.REVISIONCOMMENTS)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
