@model Bikeshop_Project.Models.GroupO

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GroupO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GROUPNAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GROUPNAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BIKETYPE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BIKETYPE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YEAR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YEAR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ENDYEAR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ENDYEAR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WEIGHT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WEIGHT)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="COMPONENTGROUPID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
