@model IEnumerable<Bikeshop_Project.Models.GroupO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GROUPNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BIKETYPE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YEAR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ENDYEAR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WEIGHT)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GROUPNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BIKETYPE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YEAR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ENDYEAR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WEIGHT)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.COMPONENTGROUPID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.COMPONENTGROUPID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.COMPONENTGROUPID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
