@model Bikeshop_Project.Models.Component

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Component</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MANUFACTURERID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MANUFACTURERID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PRODUCTNUMBER)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PRODUCTNUMBER)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ROAD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ROAD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CATEGORY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CATEGORY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LENGTH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LENGTH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HEIGHT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HEIGHT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WIDTH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WIDTH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WEIGHT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WEIGHT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YEAR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YEAR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ENDYEAR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ENDYEAR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LISTPRICE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LISTPRICE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ESTIMATEDCOST)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ESTIMATEDCOST)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QUANTITYONHAND)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QUANTITYONHAND)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.COMPONENTID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
