@model IEnumerable<Bikeshop_Project.Models.StateTaxRate>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>State Tax Rates</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TAXRATE)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TAXRATE)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.STATE">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.STATE">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.STATE">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
