@model IEnumerable<Bikeshop_Project.Models.ManufacturerTransaction>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // if a user is logged in, update logging information for monitoring team metrics
    if (Logger.returnUserLogInStatus())
    {
        Logger.numberofPageViews++;         // Add number of page views for general user session
        Logger.LogPageClick("Manufacturer Transactions");    // send log to monitoring team to show a new page click has occured.    
    }
}

<h1>Manufacturer Transactions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MANUFACTURERID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TRANSACTIONDATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMPLOYEEID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AMOUNT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DESCRIPTION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.REFERENCE)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MANUFACTURERID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TRANSACTIONDATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMPLOYEEID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AMOUNT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRIPTION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.REFERENCE)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
